<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kvance.Nectroid"
          android:versionCode="11"
          android:versionName="1.2.4">

    <application android:name="NectroidApplication"
                 android:theme="@style/necta"
                 android:icon="@drawable/ic_launcher_nectroid"
                 android:label="@string/app_name">

        <activity android:name=".NectroidActivity"
                  android:launchMode="singleTask"
                  android:configChanges="orientation"
                  android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity" />

        <activity android:name=".PlaylistActivity" />

        <activity android:name=".SiteActivity" />

        <activity android:name=".StreamsActivity"
            android:label="@string/pick_stream" />

        <activity android:name=".AboutActivity"
            android:label="@string/about_nectroid" />
        
        <service android:name=".PlayerService" />

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />
</manifest> 
